name: Run regression tests in TeX Live

on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install TeX Live
      uses: teatimeguest/setup-texlive-action@v3
      with:
        package-file: .github/workflows/texlive-package.txt
        packages: ppmcheckpdf
        update-all-packages: true
    - name: Test tabularray with l3build
      run: |
        l3build check -c build --debug --halt-on-error --show-log-on-error
    - name: Install pdftoppm
      run:
        sudo apt-get install poppler-utils
    - name: Test tabularray with ppmcheckpdf
      run: |
        ppmcheckpdf check -c build
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install TeX Live
      uses: teatimeguest/setup-texlive-action@v3
      with:
        package-file: .github/workflows/texlive-package.txt
        update-all-packages: true
    - name: Test tabularray with l3build
      run: |
        l3build check -c build --debug --halt-on-error --show-log-on-error
    - name: Install pdftoppm
      run: |
        tlmgr install wintools.windows
    - name: Test tabularray with ppmcheckpdf
      run: |
        ppmcheckpdf check -c build
    - name: Upload png and md5
      uses: actions/upload-artifact@v4
      with:
        name: png-and-md5
        path: |
          testfiles/*.png
          testfiles/*.md5
